DATABASE_URL=postgresql://postgres:123456@postgres:5432/inmobiliaria?schema=public
PORT=4300
JWT_SECRET=inmobiliaria_secret_123456
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
CERT_KEY_PATH=./certs/key.pem
CERT_CRT_PATH=./certs/cert.pem
